---
layout: default
title: 首页
---

<div class="container">
  {% include link_card.html name="加群验证服务" description="SJTU-Plus 团队提供
  QQ 群加群验证服务。如果您需要填写 QQ
  群验证消息中的“验证码”，请点击下面的链接开始验证。" link="/verify/"
  link_description="开始验证" class="border-primary" %}
  <!--  -->
  {% include link_card.html name="学科交流群" description="SJTU-Plus
  团队收集了由学生运营的学科交流群。
  团队为部分学科交流群接入了自助加群验证服务。" link="/subjects/"
  link_description="浏览" %}
  <!--  -->
  {% include link_card.html name="Course<sup>+</sup>"
  subtitle="学期开课表与虚拟排课服务" description="通过 Course-Plus
  快速查询学期课程，并进行虚拟排课。"
  link="https://sjtu-plus.github.io/course-plus" link_description="使用" %}
  <!--  -->
  {% include link_card.html name="常用网站" description="SJTU-Plus
  收集了一批常用的交大网站，你可以使用这个页面快速导航。" link="/websites/"
  link_description="浏览" %}
  <!--  -->
  {% include link_card.html name="新生群索引" description="SJTU-Plus
  团队提供新生群索引服务。其中包含学院群、地区群、社团群、游戏群。"
  link="/freshmen-groups/" link_description="浏览" %}
</div>
