---
layout: default
title: 首页
---

<div class="container">
  {% include link_card.html name="学科交流群" description="包含由 SJTU-Plus
  团队管理的学科交流群。我们为其中的一些群启用了机器人自动验证入群功能。"
  link="/subjects/" link_description="浏览" %} {% include link_card.html
  name="Course<sup>+</sup>" subtitle="学期开课表与虚拟排课服务"
  description="通过 Course-Plus 快速查询学期课程，并进行虚拟排课。"
  link="https://sjtu-plus.github.io/course-plus" link_description="使用" %} {%
  include link_card.html name="常用网站" description="SJTU-Plus
  收集了一批常用的交大网站，你可以使用这个页面快速导航。" link="/websites/"
  link_description="浏览" %} {% include link_card.html name="新生群"
  description="包含学院群、地区群、社团群、游戏群。" link="/2020-new-students/"
  link_description="浏览" %}
</div>
