<div class="card">
  <div class="card-header p-3">
    <span class="text-secondary">
      <a
        class="text-muted"
        name="category-{{ include.category.category_id }}"
        href="#category-{{ include.category.category_id }}"
        >{{ include.category.category_name }}</a
      >
    </span>
  </div>

  <div class="card-body">
    <div class="row row-cols-1 row-cols-md-3">
      {% assign sorted_groups=include.category.groups | sort: 'group_name' %} {%
      for group in sorted_groups %}
      <div class="col mb-4">
        {% include group.html group=group %}
      </div>
      {% endfor %}
    </div>
    <div class="accordion">
      {% assign sorted_categories=include.category.subcategories | sort:
      'category_name' %} {% for subcategory in sorted_categories %} {% include
      category.html category=subcategory %} {% endfor %}
    </div>
  </div>
</div>
