<section>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <p class="d-flex my-5 d-row justify-content-center">
    <span class="mx-3">由 SJTU-Plus 团队维护</span>
    <!-- Place this tag where you want the button to render. -->
    <a
      class="github-button mx-3"
      href="https://github.com/sjtu-plus/sjtu-plus.github.io"
      data-icon="octicon-star"
      data-size="large"
      data-show-count="true"
      aria-label="Star sjtu-plus/sjtu-plus.github.io on GitHub"
      >Star</a
    >
  </p>
</section>
