<div class="card h-100 mb-4 shadow-sm">
  <div class="card-body">
    <h5 class="card-title">
      {{ include.group.group_name }}
    </h5>
    <p class="card-text">
      {% if include.group.group_number %} {{ include.group.group_number }} {%
      else %} 暂无群号 {% endif %}
    </p>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between align-items-center">
      <small class="text-muted">
        {% if group.bot_enabled %}本群启用了<a href="https://sjtu.plus"
          >机器人自助验证</a
        >{% endif %} {% unless group.vacancy %}本群已满{% endunless %}
      </small>

      <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          onclick="return copy(this, {{ group.group_number | escape }})"
        >
          复制
        </button>
      </div>
    </div>
  </div>
</div>
