<section class="jumbotron jumbotron-fluid text-center bg-light">
  <div class="container">
    <div class="pt-5">
      <h1>SJTU<sup>&nbsp;+&nbsp;</sup></h1>
    </div>
    <p class="lead mb-5">
      学科交流群
    </p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="{{ '/' | absolute_url }}">
          首页
        </a>
      </li>
      <li class="list-inline-item">
        <a href="{{ '/subjects/' | absolute_url }}">
          学科交流群
        </a>
      </li>
      <li class="list-inline-item">
        <a href="{{ '/2020-new-students/' | absolute_url }}">
          2020 新生交流群
        </a>
      </li>
      <li class="list-inline-item">
        <a href="{{ '/websites/' | absolute_url }}">
          常用网站
        </a>
      </li>
    </ul>
  </div>
</section>

<style>
  *[title="站长统计"] {
    display: none;
  }
</style>
