<section class="jumbotron jumbotron-fluid text-center bg-light">
  <div class="container">
    <div class="p-5">
      <h1>{{ site.title }}</h1>
    </div>
    <p class="lead">
      如果你希望将自己维护的 QQ 群加入本清单，请联系 @迟先生、@杜大佬、@小笼包
      或者 @人参果
    </p>
    <p class="lead">
      本项目由
      <a href="https://github.com/SJTU-Plus">
        {% include github_icon.html %}SJTU-Plus 团队 </a
      >维护
    </p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="/">
          首页
        </a>
      </li>
      <li class="list-inline-item">
        <a href="/subjects.html">
          学科交流群
        </a>
      </li>
      <li class="list-inline-item">
        <a href="/2020.html">
          2020 新生交流群
        </a>
      </li>
    </ul>
  </div>
</section>
