// HTML basics (Minor styling/resets of anchor links, h1-h6, etc.)
$frow-enable-html-basics:                false;

// Columns/Grid functionality
$frow-enable-columns:                    true;

// Button styling
$frow-enable-buttons:                    true;

// Form elements
$frow-enable-forms:                      false;

// Responsive design rules
$frow-enable-responsive-design-classes:  true;

// Margin/Padding classes (.mb-10, .p-15, .mx-auto)
$frow-enable-box-model-shorcuts:         false;

// Miscellaneous utilities
$frow-enable-utilities:                  true;

// Include built-in Normalize.css
$frow-enable-normalize:                  false;
